{{define "nav"}}
<div class="nav">
   <div class="navbar">
      <div class="navbar-item">
         <a href="/">Home</a>
         <a href="/about">About</a>
         <div class="navbar-item dropdown">
            <a href="/breeds">Breeds</a>
            <div class="dropdown-items">
               <a href="cat-breeds">Cat Breeds</a>
               <a href="dog-breeds">Dog Breeds</a>
            </div>
         </div>
      </div>
      <div class="navbar-item">
         <a href="/cat-breeders">Cat Breeders Directory</a>
         <a href="/dog-breeders">Dog Breeders Directory</a>
      </div>
   </div>
</div>
{{end}}