{{define "nav"}}
<div class="nav">
   <ul class="navbar">
      <li class="navbar-item"><a href="/">Home</a></li>
      <li class="navbar-item"><a href="/contact">Contact</a></li>
      <li class="navbar-item"><a href="/about">About</a></li>
      <li class="navbar-item"><a href="/login">Login</a></li>
   </ul>
</div>
{{end}}