{{define "nav"}}
<div class="nav">
   <div class="navbar">
      <div class="navbar-item">
         <a href="/">Home</a>
         <a href="/about">About</a>
         <div class="navbar-item dropdown">
            <a href="">Breed</a>
            <div class="dropdown-items">
               <a href="cat-breed">Cat Breed</a>
               <a href="dog-breed">Dog Breed</a>
            </div>
         </div>
      </div>
      <div class="navbar-item">
         <a href="/cat-breeds">Cat Breeders Directory</a>
         <a href="/dog-breeds">Dog Breeders Directory</a>
      </div>
   </div>
</div>
{{end}}